 
<div class="users"> 
    <h1>Show User</h1> 

    <h3><%= @user.name %></h3> 

    <h3><%= @user.email %></h3> 

    <h2>Some awesome plants that I purchased:</h2> 
    <% @user.plants.uniq.each do |plant| %> 
        <p><%= link_to plant.common_name, plant_path(plant) %></p> 
    <% end %> 
    <h2>Some awesome tools that I purchased:</h2> 
    <% @user.tools.uniq.each do |tool| %> 
        <p><%= link_to tool.name, tool_path(tool) %></p> 
    <% end %> 

    <h2><%= button_to "Back", users_path, method: :get %></h2> 
    <h2><%= button_to "Edit", edit_user_path(@user), method: :get %></h2> 
    <%= button_to 'Delete', root_path, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %> 
</div> 


