<%= form_for @order do |f| %> 
    <div class="field"> 
        <%= f.label :date %> 
        <%= f.date_field :date %> 
    </div> 
    <div class="field"> 
        <%= f.label :location_id %> 
        <%= f.collection_select :location_id, @user.locations, :id, :name %>  
    </div> 
    <div class="field"> 
        <%= f.label :user_id %> 
        <%= f.collection_select :user_id, @users, :id, :name %> 
    </div> 
    <div class="field"> 
        <%= f.label :plant_id %> 
        <%= f.collection_select :plant_id, @plants, :id, :common_name %>  
    </div> 
    <div class="field"> 
        <%= f.label :tool_id %> 
        <%= f.collection_select :tool_id, @tools, :id, :name %> 
    </div> 
    <div class="actions"> 
        <%= f.submit %> 
    </div> 
<% end %> 
