<div class="container"> 
    <h1>Show Order</h1> 

    <h3><%= @order.date %></h3> 

    <h3><%= @order.location.name %></h3>

    <h3><%= @order.plant.common_name %></h3>  

    <h3><%= @order.tool.name %></h3> 
    <h2><%= button_to "Back", orders_path, method: :get %></h2> 
</div>