
<h1> <%=@plant.common_name%> </h1>
<h2> <%=@plant.scientific_name%> </h2>
<div class="min_temp"><%=@plant.temperature_minimum%></div>
<div class="max_prec"><%=@plant.precipitation_maximum%></div>
<div class="min_prec"><%=@plant.precipitation_minimum%></div>
<div class="moisture"><%=@plant.moisture_use%></div>
<div class="serial"><%=@plant.serial%></div>
<div class="weight"><%=@plant.weight%></div>
<img class='plant-img' src="<%= @plant.image %>" alt="<%@plant.common_name%>">
<div class="button"><%=button_to "Back", plants_path, method: :get%></div> 

    