<h1> <%=@plant.common_name%> </h1>
<h2> <%=@plant.scientific_name%> </h2>
<div><%=@plant.temperature_minimum%></div>
<div><%=@plant.precipitation_maximum%></div>
<div><%=@plant.precipitation_minimum%></div>
<div><%=@plant.moisture_use%></div>
<div><%=@plant.serial_id%></div>
<div><%=@plant.weight%></div>

    