<%= form_for @plant_order do |f| %> 
    <div class="field"> 
        <%= f.label :plant_id %> 
        <%= f.collection_select :plant_id, @plants, :id, :name %> 
    </div> 
    <div class="field"> 
        <%= f.label :order_id %> 
        <%= f.collection_select :order_id, @orders, :id, :date %> 
    </div> 
    <div class="field"> 
        <%= f.label :weight %> 
        <%= f.number_field :weight %> 
    </div> 
    <div class="actions"> 
        <%= f.submit %> 
    </div> 
<% end %> 