<h1>Plant Orders</h1> 

<div><%= link_to 'Create Plant Order', new_plant_order_path %></div> 
<br /> 

<table>
    <thead>
        <tr>
            <th>Plant</th> 
            <th>Order</th> 
            <th>Weight</th> 
            <th>Line Total</th> 
            <th></th> 
        </tr> 
    </thead> 
    <tbody> 
        <% @plant_orders.each do |plant_order| %> 
            <tr> 
                <td><%= plant_order.plants.name %></td>
                <td><%= plant_order.orders.date %></td> 
                <td><%= plant_order.weight %></td> 
                <td><%= plant_order.line_total %></td>  
                <td> 
                    <%= link_to 'View', plant_order %> |
                    <%= link_to 'Edit', edit_plant_order_path(plant_order) %> |
                    <%= link_to 'Delete', plant_order, method: :delete, data: { confirm: 'Are you sure you want to delete this Plant Order?' }%> 
                </td>
            </tr>
        <% end %> 
    </tbody>
</table> 
