<h1>My Locations</h1>
<%@user.locations each do |p|%>
    <div>link_to <%=p.street%>, <%=p.city%>, <%=p.state%>, <%=p.country%>, <%=p.zipcode%>, location_path</div>
    <%end%>
    <%= button_to 'Back', user_path, method: :get %>

    