<!DOCTYPE html>
<html>
  <head>
    <title>Greenery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <img class ="logo" src="images/logo.svg" alt="logo">
  </a>
    <nav>
      <ul class="nav__links">
        <li><%=link_to "Home", root_path%></li> 
        <li><%=link_to "Plants", plants_path%></li>
        <li><%=link_to "Tools", tools_path%></li>
        <li><%=link_to "Locations", locations_path%> 
        <ul><li><%= link_to "Create Location", new_location_path %></li></ul></li>
        <li><%=link_to "Users", user_path(@user)%> 
        <li><%=button_to "Cart", orders_path, method: :get%></li> 
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
